{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
			"itemListElement": [
		{
			"@type": "ListItem",
			"position": 1,
			"name": "Home",
			"item": {{ shop.secure_url | json }}
		},
		{% if template contains 'page' %}
			{
				"@type": "ListItem",
				"position": 2,
				"name": {{ page.title | json }}
			}
		{% elsif template contains 'product' %}
			{% capture url %}{{ shop.secure_url }}{{ collection.url }}{% endcapture %}
			{% if collection.url %}
				{
					"@type": "ListItem",
					"position": 2,
					"name": {{ collection.title | json }},
					"item": {{ url | json }}
				},
				{
					"@type": "ListItem",
					"position": 3,
					"name": {{ product.title | json }}
				}
			{% else %}
				{
					"@type": "ListItem",
					"position": 2,
					"name": {{ product.title | json }}
				}
			{% endif %}
		{% elsif template contains 'collection' and collection.handle %}
			{% if current_tags %}
				{% capture url %}{{ shop.secure_url }}/collections/{{ collection.handle }}{% endcapture %}
				{
					"@type": "ListItem",
					"position": 2,
					"name": {{ collection.title | json }},
					"item": {{ url | json }}
				},
				{
					"@type": "ListItem",
					"position": 3,
					"name": {{ current_tags | join: " + " | json }}
				}
			{% else %}
				{
					"@type": "ListItem",
					"position": 2,
					"name": {{ collection.title | json }}
				}
			{% endif %}
		{% elsif template == 'blog' %}
			{% capture url %}{{ shop.secure_url }}{{ blog.url }}{% endcapture %}
			{% if current_tags %}
				{
					"@type": "ListItem",
					"position": 2,
					"name": {{ blog.title | json }},
					"item": {{ url | json }}
				},
				{
					"@type": "ListItem",
					"position": 3,
					"name": {{ current_tags | join: " + " | json }}
				}
			{% else %}
				{
					"@type": "ListItem",
					"position": 2,
					"name": {{ blog.title | json }}
				}
			{% endif %}
		{% elsif template == 'article' %}
		{% capture url %}{{ shop.secure_url }}{{ blog.url }}{% endcapture %}
			{
				"@type": "ListItem",
				"position": 2,
				"name": {{ blog.title | json }},
				"item": {{ url | json }}
			},
			{
				"@type": "ListItem",
				"position": 3,
				"name": {{ article.title | json }}
			}
		{% else %}
			{
				"@type": "ListItem",
				"position": 2,
				"name": {{ page_title | json }}
			}
		{% endif %}
		]
	}
	</script>
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
	<a href="/" title="Home">Home</a>
	{% if template contains 'page' %}
	<span aria-hidden="true">&rsaquo;</span>
	<span>{{ page.title }}</span>
	{% elsif template contains 'product' %} {% if collection.url %}
	<span aria-hidden="true">&rsaquo;</span>
	{{ collection.title | link_to: collection.url }}
	{% endif %}
	<span aria-hidden="true">&rsaquo;</span>
	<span>{{ product.title }}</span>
	{% elsif template contains 'collection' and collection.handle %}
	<span aria-hidden="true">&rsaquo;</span>
	{% if current_tags %} {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
	{{ collection.title | link_to: url }}
	<span aria-hidden="true">&rsaquo;</span>
	<span>{{ current_tags | join: " + " }}</span>
	{% else %}
	<span>{{ collection.title }}</span>
	{% endif %} {% elsif template == 'blog' %}
	<span aria-hidden="true">&rsaquo;</span>
	{% if current_tags %}
	{{ blog.title | link_to: blog.url }}
	<span aria-hidden="true">&rsaquo;</span>
	<span>{{ current_tags | join: " + " }}</span>
	{% else %}
	<span>{{ blog.title }}</span>
	{% endif %} {% elsif template == 'article' %}
	<span aria-hidden="true">&rsaquo;</span>
	{{ blog.title | link_to: blog.url }}
	<span aria-hidden="true">&rsaquo;</span>
	<span>{{ article.title }}</span>
	{% else %}
	<span aria-hidden="true">&rsaquo;</span>
	<span>{{ page_title }}</span>
	{% endif %}
</nav>
{% endunless %}
