<!DOCTYPE html>
<html class="no-js" lang="{{ shop.locale }}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="theme-color" content="{{ settings.color_header_bg }}" />

		{% if settings.favicon != blank %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
		{% endif %}

		<link rel="canonical" href="{{ canonical_url }}" />
		<title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ "general.meta.tags" | t: tags:meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ "general.meta.page" | t: page:current_page }}{% endif %}</title>

		{% if page_description %}
		<meta name="description" content="{{ page_description | escape | truncate: 155 }}" />
		{% endif %} {% include 'social-meta-tags' %}

		<script>
			document.documentElement.className = document.documentElement.className.replace("no-js", "js");
		</script>

		{{
			"theme.scss.css" | asset_url | stylesheet_tag
		}}

		<script>
			window.theme = window.theme || {};

			theme.strings = {
			  stockAvailable: {{ 'products.product.stock_available' | t: count: '1' | json }},
			  addToCart: {{ 'products.product.add_to_cart' | t | json }},
			  soldOut: {{ 'products.product.sold_out' | t | json }},
			  unavailable: {{ 'products.product.unavailable' | t | json }},
			  noStockAvailable: {{ 'products.product.stock_unavailable' | t | json }},
			  willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
			  willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
			  totalCartDiscount: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }},
			  addressError: {{ 'sections.map.address_error' | t | json }},
			  addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
			  addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
			  authError: {{ 'sections.map.auth_error_html' | t | json }},
			  slideNumber: {{ 'homepage.hero.slide_number' | t: slide_number: '[slide_number]' | json }}
			};
		</script>

		<script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

		{% if request.page_type contains 'customers/' %}
		<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
		{% endif %}

		<script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

		{% if request.page_type == 'product' or request.page_type == 'cart' or request.page_type == 'index' %}
		<script>
			window.theme = window.theme || {};
			theme.moneyFormat = {{ shop.money_format | json }};
		</script>
		{% endif %}

		{% if request.page_type == 'article' %}
			{% if article.url contains 'news' %}
				<script type="application/ld+json">
					{
						"@context": "https://schema.org",
						"@type": "NewsArticle",
						"headline": {{ article.title | json }},
						"image": [
							{{ article.image | img_url: '300x300' | json }}
						],
						"datePublished": {{ article.published_at | date: "%Y-%m-%dT%H:%M:%S.%L%z" | json }},
						"dateModified": {{ article.updated_at | date: "%Y-%m-%dT%H:%M:%S.%L%z" | json }},
						"author": [
							{
								"@type": "Person",
								"name": {{ article.author | json }}
							}
						]
					}
				</script>
			{% elsif article.url contains 'reviews' %}
				{% assign articleBody = article.content | split: '===review===' %}
				{% if articleBody.size == 2 %}
					{% assign reviewedData =  articleBody[1] | replace: '<', '===nbpa===<' | replace: '>', '>===nbpa===' | strip_html | replace: '===nbpa===', ' ' | strip | split: ' ' | sort %}
					{% assign reviewedProd = all_products[reviewedData[1]] %}
					{%- if reviewedProd.title != "" -%}
						<script type="application/ld+json">
							{
								"@context": "https://schema.org/",
								"@type": "Product",
								"name": {{ reviewedProd.title | json }},
								"image": [
									{%- for image in reviewedProd.images -%}
										{{ image | image_url: width: 1024 | json }}{%- unless forloop.last -%},{%- endunless -%}
									{%- endfor -%}
								],
								"description": {{ reviewedProd.description | json }},
								"sku": {{ reviewedProd.selected_or_first_available_variant.sku | json }},
								{%- unless reviewedProd.metafields.newbreed.mfg-sku.value == '' -%}
									"mpn": {{- reviewedProd.metafields.newbreed.mfg-sku.value | json -}},
								{%- endunless -%}
								"brand": {
									"@type": "Brand",
									"name": {{ reviewedProd.vendor | json }}
								},
								"review": {
									"@type": "Review",
									"reviewRating": {
									"@type": "Rating",
									"datePublished": {{ article.published_at | date: "%Y-%m-%dT%H:%M:%S.%L%z" | json }},
									"dateModified": {{ article.updated_at | date: "%Y-%m-%dT%H:%M:%S.%L%z" | json }},
									"ratingValue": {{- reviewedData[0] | json -}},
									"bestRating": "5"
									},
									"author": {
									"@type": "Person",
									"name": {{ article.author | json }}
									}
								},
								
								{%- capture reviewedProdURL -%}{{ shop.url }}{{ reviewedProd.selected_or_first_available_variant.url }}{%- endcapture -%}

								{% assign reviewedProdTags = reviewedProd.tags | downcase %}
								{%- capture reviewedProdCondition -%}https://schema.org/{% if reviewedProdTags contains 'used' %}UsedCondition{% else %}NewCondition{% endif %}{%- endcapture -%}

								{%- capture reviewedProdAvail -%}http://schema.org/{% if reviewedProd.available %}{% if reviewedProdTags contains 'pre-order' and reviewedProd.selected_or_first_available_variant.inventory_policy == 'continue' and reviewedProd.selected_or_first_available_variant.inventory_quantity == 0 %}PreOrder{% else %}InStock{% endif %}{% else %}{% if reviewedProdTags contains 'back order' %}BackOrder{% elsif reviewedProdTags contains 'discontinued' %}Discontinued{% else %}OutOfStock{% endif %}{% endif %}{%- endcapture -%}

								"offers": {
									"@type": "Offer",
									"url": {{ reviewedProdURL | json}},
									"priceCurrency": {{ cart.currency.iso_code | json }},
									"price": "{{ reviewedProd.selected_or_first_available_variant.price | divided_by: 100.00 }}",
									"itemCondition": {{ reviewedProdCondition | json }},
									"availability": {{ reviewedProdAvail | json }}
								}
							}
						</script>
					{%- endif -%}
				{% endif %}
			{%- comment -%}{% elsif article.url contains 'how-to' %}{%- endcomment -%}
			{% else %}
				<script type="application/ld+json">
					{
						"@context": "https://schema.org",
						"@type": "BlogPosting",
						"headline": {{ article.title | json }},
						"image": [
							{{ article.image | img_url: '300x300' | json }}
						],
						"datePublished": {{ article.published_at | date: "%Y-%m-%dT%H:%M:%S.%L%z" | json }},
						"dateModified": {{ article.updated_at | date: "%Y-%m-%dT%H:%M:%S.%L%z" | json }},
						"author": [
							{
								"@type": "Person",
								"name": {{ article.author | json }}
							}
						]
					}
				</script>
			{% endif %}
		{% endif %}

		<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

		{{
			content_for_header
		}}

		{% include 'cscode_discount' %}
		
		{% if template == 'cart' %}
			<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
		{% endif %}

	  	{% render 'judgeme_core' %}
</head>

	<body class="template-{{ request.page_type | handle }}">
		<a class="in-page-link visually-hidden skip-link" href="#MainContent">
			{{ "general.accessibility.skip_to_content" | t }}
		</a>

		{% section 'info-bar' %} {% section 'header' %}

		<div class="page-container page-element is-moved-by-drawer">
			{% render 'breadcrumbs' %}
			<main class="main-content" id="MainContent" role="main">
				{{ content_for_layout }}
			</main>

			{% section 'footer' %}
		</div>

		<script id="QuantityTemplate" type="text/template">
			{% raw %}
			  <div class="js-qty">
			    <input type="text" value="{{ value }}" id="{{ key }}" name="{{ name }}" pattern="[0-9]*" data-line="{{ line }}" class="js-qty__input" aria-live="polite">
			    <button type="button" class="js-qty__adjust js-qty__adjust--minus" aria-label="{% endraw %}{{ 'cart.label.decrease_quantity' | t }}{% raw %}">
			      {% endraw %}{% include 'icon-minus' %}{% raw %}
			      <span class="icon__fallback-text">−</span>
			    </button>
			    <button type="button" class="js-qty__adjust js-qty__adjust--plus" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
			      {% endraw %}{% include 'icon-plus' %}{% raw %}
			      <span class="icon__fallback-text">+</span>
			    </button>
			  </div>
			{% endraw %}
		</script>

		{% if request.page_type == 'product' %}
		<div id="ProductModal" class="modal">
			<div class="modal__inner">
				<img src="" id="ProductZoomImg" class="product-modal__image" />
			</div>
			<button type="button" class="modal__close js-modal-close text-link">
				{% include 'icon-close' %}
				<span class="icon__fallback-text">{{ "general.accessibility.close_modal" | t | json }}</span>
			</button>
		</div>
		{% endif %}

		<ul hidden>
			<li id="a11y-refresh-page-message">{{ "general.accessibility.refresh_page" | t }}</li>
			<li id="a11y-selection-message">{{ "general.accessibility.selection_help" | t }}</li>
			<li id="a11y-slideshow-info">{{- 'homepage.hero.navigation_instructions' | t -}}</li>
		</ul>
	</body>
</html>
