{% paginate blog.articles by 5 %}

<div class="page-width">
  <h1>
    {% if current_tags %}
      {{ current_tags.first }}
      {% else %}
      {{ blog.title }}
    {% endif %}
    <a href="{{ shop.url }}{{ blog.url }}.atom" class="blog__rss-link link-accent-color">
      {% include 'icon-rss' %}
      <span class="icon__fallback-text">RSS</span>
    </a>
  </h1>
  <p>
    {{ page_description }}
  </p>
  <style>
    .content-block {
      transition: all 0.5s ease-in-out;
      box-shadow: none;
    }
    .content-block:hover {
      box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
    }
    .article__photo-wrapper {
      transition: all 0.5s ease-in-out;
      transform: scale(1);
    }
    .content-block:hover .article__photo-wrapper {
      transform: scale(1.05);
    }
  </style>
  <div class="grid">
    <div class="grid__item">
      {% for article in blog.articles %}
        <div class="content-block">
          {% if article.image %}
            <div class="content-block__full-image content-block__full-image--large">
              <a href="{{ article.url }}">
                <noscript>
                  {{ article | img_url: '1024x1024' | img_tag: article.title | escape }}
                </noscript>
                <div class="article__photo-container" style="max-height: 250px; overflow: hidden;">
                  <div class="article__photo-wrapper" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                  {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img class="lazyload"
                      src="{{ article.image | img_url: '300x300' }}"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ article.title | escape }}">
                  </div>
                </div>
              </a>
            </div>
          {% endif %}
          
          <h2 class="blog__title-link"><a href="{{ article.url }}">{{ article.title }}</a></h2>
          <p class="blog__meta">
            {{ article.published_at | time_tag: format: 'date' }} by {{ article.author }}
          </p>
          
          <hr>

          <div class="rte rte--indented-images">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
            {% endif %}
          </div>

          <p><a href="{{ article.url }}"><strong>{{ 'blogs.article.read_more' | t }}</strong></a></p>

        </div>
      {% endfor %}
    </div>
    <div class="grid__item">
      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
    </div>
    <div class="grid__item">
      {% section 'featured-products-subsection' %}
    </div>
  </div>
</div>

{% endpaginate %}
